body{
    background: #809FFF;
}

.center{
    text-align: center;
}

.topMargine30{
    margin-top: 30px;
}

.SocialMediaBackground{
    background-color: #003570;
}

.SocialMediaFontColour{
    color: aliceblue;
}