body {
	--back-color: #809FFF;
}

body#dark {
	--back-color: #007710;
}

body {
	background-color: var(--back-color);
}

.center{
    text-align: center;
}

.topMargine30{
    margin-top: 30px;
}

.SocialMediaBackground{
    background-color: #003570;
}

.SocialMediaFontColour{
    color: aliceblue;
}

.relative{
    position: relative;
}

.left{
    left: 10%;
    position: absolute;
}

.right{
    left: 65%;
    position: absolute;
}

@media(max-width: 950px){
    .left{
        left: 10%;
        position: absolute;
    }
    
    .right{
        left: 0%;
        position: absolute;
    }   
}

.easterEgg{
    color: #809FFF;
}

.tranBack{
    background-color: rgba(255, 0, 0, 0.5);
}