body {
    --back-color: #1439a8;
    --socialMedia-back-color: #003570;
    --socialMedia-font-color: rgb(178, 218, 252);
    --font-color: rgb(178, 218, 252);
}

body#dark {
    --back-color: #007710;
    --socialMedia-back-color: #5e1414;
    --socialMedia-font-color: #ff6161;
    --font-color: #000000;
}

body {
    background-color: var(--back-color);
    z-index: 0;
    color: var(--font-color);
    font-family: 'Andika New Basic', sans-serif;
}

.center{
    text-align: center;
}

.topMargin30{
    margin-top: 30px;
}

.SocialMediaBackground{
    background-color: var(--socialMedia-back-color);

}

.SocialMediaFontColour{
    color: var(--socialMedia-font-color);
}

.relative{
    position: relative;
}

.left{
    left: 10%;
    position: absolute;
}

.right{
margin-bottom: -1.5em;
}

@media(max-width: 950px){
    .right{
        margin-bottom: 0vw;
    }  
}

.easterEgg{
    color: var(--back-color);
}

.tranBack{
    background-color: rgba(168, 18, 18, 0.9);
    padding: 20px 0px;
    z-index: 10;
    /*margin-top: -5vw;*/
}