body {
    --back-image: url("../background/black.png");
    --socialMedia-back-color: #003570;
    --trans-back-comment: rgba(0, 53, 112, 0.8);
    --socialMedia-font-color: rgb(178, 218, 252);
    --font-color: rgb(178, 218, 252);
    --recipeTransBackgroung: rgba(0, 53, 112, 0.4);
    --socialMedia-button-hover: rgb(78, 118, 152);
    --socialMedia-button-active: rgb(28, 68, 102);
}

body#dark {
    --back-image: url("../background/green.png");
    --socialMedia-back-color: #5e1414;
    --socialMedia-font-color: #ff6161;
    --font-color: #000000;
    --recipeTransBackgroung: rgba(168, 18, 18, 0.4);
    --trans-back-comment: rgba(94, 20, 20, 0.8);
    --socialMedia-button-hover: rgb(155, 0, 0);
    --socialMedia-button-active: rgb(105, 0, 0);
}

body {
    background-image: var(--back-image);
    background-repeat: repeat;
    z-index: 0;
    color: var(--font-color);
    font-family: 'Andika New Basic', sans-serif;
}

.center{
    text-align: center;
}

.topMargin30{
    margin-top: 5em;
}

.SocialMediaBackground{
    background-color: var(--socialMedia-back-color);
    
}

.SocialMediaFontColour{
    color: var(--socialMedia-font-color);
}

.relative{
    position: relative;
}

.easterEgg{
    color: var(--back-color);
}

.tranBack{
    background-color: var( --trans-back-comment);
    padding: 20px 0px;
    z-index: 10;
    margin-top: -6vw;
}

.recipeTranBack{
    background-color: var(--recipeTransBackgroung);
}

.recipeTranBackFill{
    background-color: var(--recipeTransBackgroung);
}

@media(max-width: 991px){
    .recipeTranBackFill{
        background-color: rgba(0, 0, 0, 0);
    }
}

.SocialMedia{
    width: 70px;
    height: 57px;
}


.leftMargin10{
    margin-left: 10%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button{
    border-radius: 12px;
    background-color: var(--socialMedia-font-color);
    text-align: center;
    box-shadow: 0px 3px 50px 0px #999;
}

.button:hover {
    background-color: var(--socialMedia-button-hover)
}

.button:active {
    background-color: var(--socialMedia-button-active);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
