body {
    --back-image: url("../background/black.png");
    --back-color: #1439a8;
    --socialMedia-back-color: #003570;
    --trans-back-comment: rgba(0, 53, 112, 0.8);
    --socialMedia-font-color: rgb(178, 218, 252);
    --font-color: rgb(178, 218, 252);
    --recipeTransBackgroung: rgba(0, 53, 112, 0.4);
}

body#dark {
    --back-image: url("../background/green.png");
    --back-color: #007710;
    --socialMedia-back-color: #5e1414;
    --socialMedia-font-color: #ff6161;
    --font-color: #000000;
    --recipeTransBackgroung: rgba(168, 18, 18, 0.4);
    --trans-back-comment: rgba(94, 20, 20, 0.8);
}

body {
    background-image: var(--back-image);
    background-repeat: repeat;
   /* background-color: var(--back-color);*/
    z-index: 0;
    color: var(--font-color);
    font-family: 'Andika New Basic', sans-serif;
}

.center{
    text-align: center;
}

.topMargin30{
    margin-top: 5em;
}

.SocialMediaBackground{
    background-color: var(--socialMedia-back-color);
    margin-top: 3vw;
}

.SocialMediaFontColour{
    color: var(--socialMedia-font-color);
}

.relative{
    position: relative;
}

.easterEgg{
    color: var(--back-color);
}

.tranBack{
    background-color: var( --trans-back-comment);
    padding: 20px 0px;
    z-index: 10;
    margin-top: -6vw;
}

.recipeTranBack{
    background-color: var(--recipeTransBackgroung);
}


.SocialMedia{
    width: 70px;
    height: 57px;
}
